<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<!--Настройка кодировки в Tomcat, MySQL, Eclipse, IDEA-->
<!--https://jazzteam.org/ru/technical-articles/setting-encoding-tomcat-mysql-eclipse-idea/-->

<head>
    <meta charset="UTF-8">
    <title>Список машин/List of cars</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<p> Список машин/List of cars </p>
<table>
    <tr>
        <th style="text-align:left">Классификация/Classification</th>
        <th style="text-align:left">Модель/Model</th>
        <th style="text-align:left">Год выпуска/Year of release</th>
    </tr>

    <!--    Учебник: Использование Thymeleaf-->
    <!--    https://habr.com/ru/post/350862/-->

    <tr th:each="car : ${cars}">
        <td th:text="${car.getTypeOfVehicle()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getYearOfManufacture()}"></td>
    </tr>

</table>

</body>
</html>