<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Список машин/List of cars</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<p> Список машин/List of cars </p>
<table>
    <tr>
        <th>Классификация/Classification</th>
        <th>Модель/Model</th>
        <th>Год выпуска/Year</th>
    </tr>

    <tr th:each="car : ${cars}">
        <td th:text="${car.getTypeOfVehicle()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getYearOfManufacture()}"></td>
    </tr>

</table>

</body>
</html>